* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background-color: #161D6F;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    display: flex;
    margin-right: 231.55px;
    margin-top: -99px;
  }
  
  .logo-agro {
    position: absolute;
    top: 196px;
    left: 170px;
    z-index: 2;
  }
  
  .recta {
    width: 423px;
    height: 423px;
    border-radius: 30px;
    opacity: 0.3;
  }
  
  .wrap-input {
    display: inline-flex;
    flex-direction: column;
    margin-top: 37px;
    gap: 22px;
  }
  
  .loggin {
    display: flex;
    width: 630px;
    align-items: center;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #F7FAFC;
    border-radius: 30px;
    height: 550px;
    margin-top: 16px;
    margin-right: -95px;
  }
  .loggin .loggin-form {
    margin: 0px auto;
    margin-top: -149px;
    width: 310px;
    height: 320px;
  }
  .loggin .loggin-title {
    text-align: center;
    color: #656565;
    font: normal normal bold 29px/38px "Manrope";
    letter-spacing: 0px;
  }
  .loggin .loggin-label {
    margin-top: 60px;
  }
  
  input[type=email], input[type=password] {
    width: 320px;
    height: 40px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 2px 4px #171717;
    color: #8898AA;
    padding-left: 40px;
  }
  
  input[type=submit] {
    width: 320px;
    height: 50px;
    color: white;
    margin-top: 9px;
    flex-grow: 1;
    background-color: #161D6F;
    border-radius: 30px;
    border: 1px solid #FFFFFF;
  }
  
  .mail {
    position: absolute;
    z-index: 2;
    top: 392px;
    left: 990px;
  }
  
  .lock {
    position: absolute;
    z-index: 2;
    top: 450px;
    left: 990px;
  }